{% extends "base/base.html" %}{%block title%} Forum | Utkrishta Bharath | Come and Discuss to make Bharath Utkrishta {%endblock%}

{% block content %}
<style>
    body {
        /* margin-top: 20px; */
        background: rgb(0, 0, 0);
    }

    .white-bg {
        background-color: #ffffff;
    }

    .page-heading {
        border-top: 0;
        padding: 0 10px 20px 10px;
    }

    .forum-post-container .media {
        margin: 10px 10px 10px 10px;
        padding: 20px 10px 20px 10px;
        border-bottom: 1px solid #f1f1f1;
    }

    .forum-avatar {
        float: left;
        margin-right: 20px;
        text-align: center;
        width: 110px;
    }

    .forum-avatar .img-circle {
        height: 48px;
        width: 48px;
    }

    .author-info {
        color: #676a6c;
        font-size: 11px;
        margin-top: 5px;
        text-align: center;
    }

    .forum-post-info {
        padding: 9px 12px 6px 12px;
        background: #f9f9f9;
        border: 1px solid #f1f1f1;
    }

    .media-body>.media {
        background: #f9f9f9;
        border-radius: 3px;
        border: 1px solid #f1f1f1;
    }

    .forum-post-container .media-body .photos {
        margin: 10px 0;
    }

    .forum-photo {
        max-width: 140px;
        border-radius: 3px;
    }

    .media-body>.media .forum-avatar {
        width: 70px;
        margin-right: 10px;
    }

    .media-body>.media .forum-avatar .img-circle {
        height: 38px;
        width: 38px;
    }

    .mid-icon {
        font-size: 66px;
    }

    .forum-item {
        margin: 10px 0;
        padding: 10px 0 20px;
        border-bottom: 1px solid #f1f1f1;
    }

    .views-number {
        font-size: 24px;
        line-height: 18px;
        font-weight: 400;
    }

    .forum-container,
    .forum-post-container {
        padding: 30px !important;
    }

    .forum-item small {
        color: #999;
    }

    .forum-item .forum-sub-title {
        color: #999;
        margin-left: 50px;
    }

    .forum-title {
        margin: 15px 0 15px 0;
    }

    .forum-info {
        text-align: center;
    }

    .forum-desc {
        color: #999;
    }

    .forum-icon {
        float: left;
        width: 30px;
        margin-right: 20px;
        text-align: center;
    }

    a.forum-item-title {
        color: inherit;
        display: block;
        font-size: 18px;
        font-weight: 600;
    }

    a.forum-item-title:hover {
        color: inherit;
    }

    .forum-icon .fa {
        font-size: 30px;
        margin-top: 8px;
        color: #9b9b9b;
    }

    .forum-item.active .fa {
        color: #1ab394;
    }

    .forum-item.active a.forum-item-title {
        color: #1ab394;
    }

    @media (max-width: 992px) {
        .forum-info {
            margin: 15px 0 10px 0;
            /* Comment this is you want to show forum info in small devices */
            display: none;
        }

        .forum-desc {
            float: none !important;
        }
    }





    .ibox {
        clear: both;
        margin-bottom: 25px;
        margin-top: 0;
        padding: 0;
    }

    .ibox.collapsed .ibox-content {
        display: none;
    }

    .ibox.collapsed .fa.fa-chevron-up:before {
        content: "\f078";
    }

    .ibox.collapsed .fa.fa-chevron-down:before {
        content: "\f077";
    }

    .ibox:after,
    .ibox:before {
        display: table;
    }

    .ibox-title {
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        background-color: #ffffff;
        border-color: #e7eaec;
        border-image: none;
        border-style: solid solid none;
        border-width: 3px 0 0;
        color: inherit;
        margin-bottom: 0;
        padding: 14px 15px 7px;
        min-height: 48px;
    }

    .ibox-content {
        background-color: #ffffff;
        color: inherit;
        padding: 15px 20px 20px 20px;
        border-color: #e7eaec;
        border-image: none;
        border-style: solid solid none;
        border-width: 1px 0;
    }

    .ibox-footer {
        color: inherit;
        border-top: 1px solid #e7eaec;
        font-size: 90%;
        background: #ffffff;
        padding: 10px 15px;
    }

    .message-input {
        height: 90px !important;
    }

    .form-control,
    .single-line {
        background-color: #FFFFFF;
        background-image: none;
        border: 1px solid #e5e6e7;
        border-radius: 1px;
        color: inherit;
        display: block;
        padding: 6px 12px;
        transition: border-color 0.10s ease-in-out 0s, box-shadow 0.10s ease-in-out 0s;
        width: 100%;
        font-size: 14px;
    }

    .text-navy {
        color: #1ab394;
    }

    .mid-icon {
        font-size: 66px !important;
    }

    .m-b-sm {
        margin-bottom: 10px;
    }
</style>
<style>
    .ard {
        background-color: black;
        height: 50vh;
        width: 100vw;
        margin-bottom: 14px;
    }

    .block_ard {
        display: none;
        /* font-size: 20px; */
    }
</style>

<div class="home ard">
    <div class="home_content">
        <div class="post_title">Utkrishta Bharath Community</div>
        {% comment %} <form action="" method="GET">

            <input class="" type="text" id="" name="search-area" placeholder="Search here...">
            <button type="submit" class="btn btn-success btn-sm">Search</button>
        </form> {% endcomment %}
        {% comment %} <div class="px-4 pt-3">
            <a class="btn btn-primary btn-sm" href="{% url 'forum:forum-index' %}">All forums</a>
            {% if user.is_superuser %}
            <a class="btn btn-primary btn-sm" href="{% url 'forum:topic-add' %}">Add Forum</a>

            {% endif %}
        </div> {% endcomment %}
    </div>
</div>







<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">

                <!-- <div class="ibox-content m-b-sm border-bottom">
                    <div class="p-xs">
                        <div class="pull-left m-r-md">
                            <i class="fa fa-globe text-navy mid-icon"></i>
                        </div>
                        <h2>Welcome to our forum</h2>
                        <span>Feel free to choose topic you're interested in.</span>
                    </div>
                </div> -->

                <div class="ibox-content forum-container">

                    <div class="forum-title">
                        <div class="pull-right forum-desc">
                            {% comment %} <small>Total posts: {{ total_posts }}</small> {% endcomment %}
                        </div>
                        <h3 class="text-danger"><b>Interaction Hub</b></h3> <p>Views are only counted if user is authenticated</p>
                    </div>

                    {% for topic in topics %}
                    <div class="forum-item active">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="forum-icon">
                                    <i class="fa fa-bolt"></i>
                                </div>
                                <a href="{% url 'no_login_forum:topic-detail-indirect' topic.id %}" class="forum-item-title"
                                    style="color: black;">{{ topic.title }}</a>
                                <div class="forum-sub-title">{{ topic.description }}</div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    {{ topic.total_views }}
                                </span>
                                <div>
                                    <small>Views</small>
                                </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    {{ topic.total_posts }}
                                </span>
                                <div>
                                    <small>Discussions</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    
                </div>


            </div>
        </div>



    </div>
</div>
















<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">

                <!-- <div class="ibox-content m-b-sm border-bottom">
                    <div class="p-xs">
                        <div class="pull-left m-r-md">
                            <i class="fa fa-globe text-navy mid-icon"></i>
                        </div>
                        <h2>Welcome to our forum</h2>
                        <span>Feel free to choose topic you're interested in.</span>
                    </div>
                </div> -->

                <div class="ibox-content forum-container">

                    <div class="forum-title">

                        <h3 class="text-danger"><b>Rules</b></h3>
                        <p>When participating in a discussion on a forum, it is important to follow some general rules
                            of etiquette and behavior to ensure that the discussion remains productive, respectful, and
                            constructive. Some of these rules include:</p>
                    </div>


                    <div class="forum-item active">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="forum-icon">
                                    <i class="fa fa-bolt"></i>
                                    <!-- <i class="fa-regular fa-hand-point-right"></i>  -->
                                </div>
                                <p class="forum-item-title" style="color: black;">Be respectful</p>
                                <div class="forum-sub-title">Treat other forum members with respect and kindness, even
                                    if you disagree with their opinion. Avoid using offensive language, insults, or
                                    personal attacks.</div>
                            </div>

                        </div>
                    </div>


                    <div class="forum-item active">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="forum-icon">
                                    <i class="fa fa-bolt"></i>
                                    <!-- <i class="fa-regular fa-hand-point-right"></i>  -->
                                </div>
                                <p class="forum-item-title" style="color: black;">Stay on topic</p>
                                <div class="forum-sub-title">Keep your comments and replies relevant to the topic at
                                    hand. Avoid hijacking the thread or changing the subject.</div>
                            </div>

                        </div>
                    </div>


                    <div class="forum-item active">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="forum-icon">
                                    <i class="fa fa-bolt"></i>
                                    <!-- <i class="fa-regular fa-hand-point-right"></i>  -->
                                </div>
                                <p class="forum-item-title" style="color: black;">Avoid spamming</p>
                                <div class="forum-sub-title">Do not post the same comment or message multiple times or
                                    post irrelevant or promotional content.</div>
                            </div>

                        </div>
                    </div>

                    <div class="forum-item active">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="forum-icon">
                                    <i class="fa fa-bolt"></i>
                                    <!-- <i class="fa-regular fa-hand-point-right"></i>  -->
                                </div>
                                <p class="forum-item-title" style="color: black;">Listen to others</p>
                                <div class="forum-sub-title">Read and consider other members' opinions and viewpoints,
                                    even if they differ from your own. Respond thoughtfully and constructively.</div>
                            </div>

                        </div>
                    </div>

                    <div class="forum-item active">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="forum-icon">
                                    <i class="fa fa-bolt"></i>
                                    <!-- <i class="fa-regular fa-hand-point-right"></i>  -->
                                </div>
                                <p class="forum-item-title" style="color: black;">Use proper grammar and spelling</p>
                                <div class="forum-sub-title">Make sure your comments are easy to read and understand by
                                    using correct grammar, spelling, and punctuation.</div>
                            </div>

                        </div>
                    </div>

                    <div class="forum-item active">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="forum-icon">
                                    <i class="fa fa-bolt"></i>
                                    <!-- <i class="fa-regular fa-hand-point-right"></i>  -->
                                </div>
                                <p class="forum-item-title" style="color: black;">Follow the forum rules</p>
                                <div class="forum-sub-title">Familiarize yourself with the forum's rules and guidelines,
                                    and follow them at all times.</div>
                            </div>

                        </div>
                    </div>

                    <div class="forum-item active">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="forum-icon">
                                    <i class="fa fa-bolt"></i>
                                    <!-- <i class="fa-regular fa-hand-point-right"></i>  -->
                                </div>
                                <p class="forum-item-title" style="color: black;">Avoid spreading misinformation</p>
                                <div class="forum-sub-title">Make sure your comments and replies are accurate and
                                    supported by evidence, if applicable.</div>
                            </div>

                        </div>
                    </div>

                    <div class="forum-item active">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="forum-icon">
                                    <i class="fa fa-bolt"></i>
                                    <!-- <i class="fa-regular fa-hand-point-right"></i>  -->
                                </div>
                                <p class="forum-item-title" style="color: black;">Be open-minded</p>
                                <div class="forum-sub-title"> Be willing to consider new perspectives and ideas, and be
                                    open to changing your opinion if presented with new information.</div>
                            </div>

                        </div>
                    </div>



                </div>


            </div>
        </div>



    </div>
</div>

{% endblock content %}  