{% extends 'base/base.html' %}{% load static %}{%block title%} Gallery | Utkrishta Bharath  {%endblock%}

    {% block content%}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    </script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js">
    </script>
    <style>
   
        .container.gallery-container {
            background-color: #fff;
            color: #35373a;
            min-height: 100vh;
            padding: 30px 50px;
        }
        
        .gallery-container h1 {
            text-align: center;
            margin-top: 50px;
            font-family: 'Droid Sans', sans-serif;
            font-weight: bold;
        }
        
        .gallery-container p.page-description {
            text-align: center;
            margin: 25px auto;
            font-size: 18px;
            color: #999;
        }
        
        .tz-gallery {
            padding: 40px;
        }
        
        /* Override bootstrap column paddings */
        .tz-gallery .row > div {
            padding: 2px;
        }
        
        .tz-gallery .lightbox img {
            width: 100%;
            height: 200px; /* set a fixed height for all images */
            object-fit: cover; /* ensure images maintain aspect ratio and fill container */
            border-radius: 0;
            position: relative;
        }
        
        .tz-gallery .lightbox:before {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -13px;
            margin-left: -13px;
            opacity: 0;
            color: #fff;
            font-size: 26px;
            font-family: 'Glyphicons Halflings';
            content: 'visit';
            pointer-events: none;
            z-index: 9000;
            transition: 0.4s;
        }
        
        
        .tz-gallery .lightbox:after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            background-color: rgb(36 38 39 / 70%);
            content: '';
            transition: 0.4s;
        }
        
        .tz-gallery .lightbox:hover:after,
        .tz-gallery .lightbox:hover:before {
            opacity: 1;
        }
        
        .baguetteBox-button {
            background-color: transparent !important;
        }
        
        @media(max-width: 768px) {
            body {
                padding: 0;
            }
        }
        </style>
        <style>
            .ard {
                background-color: black;
                height: 55vh;
                width: 100vw;
                margin-bottom: 14px;
            }

            .block_ard {
                display: none;
                /* font-size: 20px; */
            }
        </style>
        
        <div class="home ard">
            <div class="home_content">
                <div class="post_title">Utkrishta Bharath Gallery</div>
                
            </div>
        </div>
            <div class="container gallery-container">
        
                {% comment %} <h1>Utkrishta Bharath Gallery</h1> {% endcomment %}
            
                <p class="page-description text-center">Here are some Memories</p>
                {% if user.is_authenticated and user.is_staff %}
                <p class="text-center">
                    <a href="{% url 'image-upload' %}" class="btn btn-secondary my-2">Upload Image</a>
                </p>
                {% endif %}
            
        
                <div class="tz-gallery">
            
                    <div class="row">
                        {% for gallery_image in images %}
                        <div class="col-sm-12 col-md-4 my-3 block_ard">
                            <a class="lightbox" href="{% url 'details' image_id=gallery_image.id %}">
                                <img src="{{gallery_image.image.url}}" alt="Bridge">
                            </a>
                        </div>
                        {% endfor %}
                        
                    </div>
                    <div class="text-center load_more">
                        <div id="load" class="load_more_button text-center trans_200">Load More</div>
                    </div>
                    
    
        </div>
    
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
    <script>
        $(document).ready(function() {
            $(".block_ard").slice(0,9).show();
            if($(".block_ard:hidden").length!=0) {
                $("#load").show();
            }
            $("#load").on("click",function(e) {
                e.preventDefault();
                $(".block_ard:hidden").slice(0,6).slideDown();
                if($(".block_ard:hidden").length==0) {
                    $("#load").text("No More to view")
                        .fadOut("slow");
                }
            });
        })
    </script>


    

    {% endblock %}