<footer class="footer" style="background-color: black;">
    <style>
        a{
            text-decoration: none;
            color: white;
        }
    </style>
    <div class="container" >
        <div class="row row-lg-eq-height">
            <div class="col-lg-9 order-lg-1 order-2">
                <div class="footer_content" >
                    <div class="footer_logo"><a href="#">Utkrishta Bharath</a></div>
                    <div class="footer_social">
                        <ul>
                            <li class="m-2 p-1">Copyright <a href="">&#169;</a> 2023 &#174;</li>
                            <li class="m-2 p-1"><a href="//www.dmca.com/Protection/Status.aspx?ID=240c8d54-7015-46cb-b6e5-6e8cb5f775d6" title="DMCA.com Protection Status" class="dmca-badge"> <img src ="https://images.dmca.com/Badges/dmca-badge-w100-5x1-06.png?ID=240c8d54-7015-46cb-b6e5-6e8cb5f775d6"  alt="DMCA.com Protection Status" /></a>  <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script></li><br>
                            <li class="m-2 p-1" class="footer_social_facebook"><a target="_blank" href="https://ne-np.facebook.com/utkrishta.bharath.nitk"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li class="m-2 p-1" class="footer_social_twitter"><a target="_blank" href="https://twitter.com/UtkrishtaBNitk"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <!-- <li class="m-2 p-1" class="footer_social_pinterest"><a target="_blank" href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li> -->
                            <!-- <li class="m-2 p-1" class="footer_social_vimeo"><a target="_blank" href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li> -->
                            <li class="m-2 p-1" class="footer_social_instagram"><a target="_blank" href="https://www.instagram.com/utkrishta.bharath.nitk/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <!-- <li class="m-2 p-1" class="footer_social_google"><a target="_blank" href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li> -->
                        </ul>
                    </div>

                </div>
            </div>
            <!-- <div class="col-lg-3 order-lg-2 order-1">
                <div class="subscribe">
                    <div class="subscribe_background"></div>
                    <div class="subscribe_content">
                        <div class="subscribe_title">Subscribe</div>
                        <form action="#">
                            <input type="email" class="sub_input" placeholder="Your Email" required="required">
                            <button class="sub_button">
                            <svg version="1.1" id="link_arrow_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 width="19px" height="13px" viewBox="0 0 19 13" enable-background="new 0 0 19 13" xml:space="preserve">
                                <polygon fill="#FFFFFF" points="12.475,0 11.061,0 17.081,6.021 0,6.021 0,7.021 17.038,7.021 11.06,13 12.474,13 18.974,6.5 "/>
                            </svg>
                        </button>
                        </form>
                    </div>
                </div>
            </div> -->
            <div class="col-lg-3 order-lg-2 order-1" style="background-color: black;">
                <div class="subscribe">
                    <div class="subscribe_background" style="background-color: black;"></div>
                    <div class="subscribe_content" >
                        <a href="/#contact"><div class="subscribe_title text-center">Contact us</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>