{% extends 'base/base.html' %} {%block title%} Utkrishta Bharath Community Feature | Ask your question regarding India{%endblock%}
{% block extra_head_tags %}
{{ block.super }}
   <meta name="description" content="Ask you questions related India on Utkrishta Bharath community platform. Whom are you waiting for?">
    <meta name="keywords" content="Utkrishta Bharath community feature,Utkrishta Bharath NITK, Utkrishta Bharath nitk, India, Glories of India, ancient india, making india Utkrishta, community, stackoverflow, github, questions and answers, facebook-Utkrishta Bharath, twitter-Utkrishta Bharath, linkedIn-Utkrishta Bharath, Bharath Darshan,  ">
{% endblock %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<style>
    .ard {
        background-color: black;
        height: 50vh;
        width: 100vw;
        margin-bottom: 14px;
    }
</style>

<div class="home ard">
    <div class="home_content">
        <div class="post_title">Post Related Replies</div>
    </div>
</div>

<style>
    body {
        background-color: #f5f5f5;
    }

    .container_ard {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        max-width: 960px;
        margin: 0 auto;
        padding: 20px;
    }

    .left-column {
        width: 100%;
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }

    .right-column {
        width: 100%;
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }

    .column-content {
        font-size: 14px;
        color: firebrick;
        line-height: 1.5;
    }

    .column-content ul {
        padding-left: 20px;
        color: firebrick;
    }

    .column-content ul li {
        list-style-type: disc;
        margin-bottom: 5px;
    }

    .column-content ul li:last-child {
        margin-bottom: 0;
    }

    @media (min-width: 768px) {
        .left-column {
            width: 45%;
            margin-right: 10px;
            margin-bottom: 0;
        }

        .right-column {
            width: 45%;
            margin-left: 10px;
            margin-bottom: 0;
        }
    }
</style>

<div class="container_ard">
    <div class="left-column">
        <p class="column-content" style="color: black;">
           <b>Follow the given rules before answering:</b>
        </p>
        <ul class="column-content">
            <li>Do not post adult/illegal links.</li>
            <li>Try to comment in English only.</li>
            <li>Do not post links from other websites that are useless.</li>
            <li>Your comment should be relevant to the topic. For other queries, kindly visit our Contact Us page.</li>
            <li>Do not use abusive language.</li>
            <li>Respect each other.</li>
            <li>Tolerance, humility, and patience are appreciated.</li>
            <li>No hatred towards other religions.</li>
            <li>No hatred towards other castes.</li>
        </ul>
    </div>
    <div class="right-column" >
        <p class="column-content" style="color: black;">
            <b>Try to discuss regarding the following topics primarily:</b>
        </p>
        <ul class="column-content">
            <li>Ancient Science</li>
            <li>Glorious India</li>
            <li>Current Affairs</li>
            <li>Spirituality</li>
            <li>Geopolitics</li>
            <li>Sports</li>
            <li>Art</li>
            <li>and related topics.</li>
        </ul>
    </div>
</div>


<div class="container text-center my-5 p-3" style="border: 1px solid rgb(222, 217, 217); background-color: white;">
    <div class="col-sm-12">

        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form|crispy}}
            <button class="btn btn-success" id="logout-btn" type="submit">Add Reply</button>
            <a style="text-decoration: none; " class="btn btn-outline-secondary" href="/forum">Cancel</a>
            <!-- <button class="btn btn-secondary" id="logout-btn" type="submit"><a id="fa" href="" style="color: white; text-decoration: none;">Go back</a></button> -->
        </form>
    </div>
</div>


<script>
    feather.replace()
</script>

{% endblock content %}